{% extends "labeling/base.html" %}
{% load static %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'labeling/css/main.css' %}">
{% endblock head %}

{% block title %}
    NArFU TOLOKA - Разметка
{% endblock title %}

{% block body %}
<main class="main flex">
    <div class="sidebar">
        <div class="sidebar__container flex">
            <div class="sidebar__main">
                <div class="sidebar__list sidebar__user flex">
                    <div class="sidebar__icon">
                        <svg width="29" height="37" viewBox="0 0 29 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2 35C2 27.9123 7.59645 22.1667 14.5 22.1667C21.4036 22.1667 27 27.9123 27 35M21.6429 9.33333C21.6429 13.3834 18.4448 16.6667 14.5 16.6667C10.5551 16.6667 7.35714 13.3834 7.35714 9.33333C7.35714 5.28324 10.5551 2 14.5 2C18.4448 2 21.6429 5.28324 21.6429 9.33333Z" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                                
                    </div>
                    <div class="sidebar__name">
                        {{ profile.user.username }} #{{ profile.group_number }}
                    </div>
                </div>
                <div class="sidebar__list sidebar__user flex">
                    {% if profile.count_task <= 1000 %}
                    <div class="sidebar__name">
                        Вы разметили {{ profile.count_task }}/1000
                    </div>
                    {% else %}
                    <div class="sidebar__name sidebar__name--compleated">
                        Работа Выполнена! Ты разметил {{ profile.count_task }} записей!
                    </div>
                    {% endif %}
                </div>
                {% if profile.user.is_superuser %}
                <div class="sidebar__list sidebar__user flex">
                    <div class="sidebar__name">
                        Всего размечено: {{ garbage_count|default:0|add:not_garbage_count|default:0 }}
                    </div>
                </div>
                <div class="sidebar__list sidebar__user flex">
                    <div class="sidebar__name">
                        Релевантные: {{ not_garbage_count }}
                    </div>
                </div>
                <div class="sidebar__list sidebar__user flex">
                    <div class="sidebar__name">
                        Мусор: {{ garbage_count }}
                    </div>
                </div>
                {% endif %}
                <div class="arrow"></div>
                <div class="sidebar__list sidebar__logout flex">
                    <div class="sidebar__icon">
                        <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.25 17H32M32 17L26.375 11.375M32 17L26.375 22.625" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M2 17C2 8.71572 8.71572 2 17 2M17 32C12.263 32 8.03891 29.8042 5.28993 26.375" stroke="white" stroke-width="4" stroke-linecap="round"/>
                            </svg>                                
                    </div>
                    <div class="sidebar__name">
                        <a href="{% url 'labeling:logout' %}">Выход</a>
                    </div>
                </div>
            </div>
            <div class="sidebar__footer">
                <div class="title">
                    NArFU TOLOKA
                </div>
                <div class="descr">
                    Разметка данных для студентов
                </div>
            </div>
        </div>
    </div>
    <div class="markup">
        <header class="header flex">
            Разметьте предложенный текст
        </header>
        <div class="markup__section flex">
            <div class="markup__form">
                <div class="descr">
                    {% if random_data.Type == 'Пост' %}
                        <div class="descr__section">
                            <div class="descr__text">
                                {% if random_data.Header %}
                                    <p><b>{{ random_data.Header }}</b></p>
                                {% endif %}
                                <p>{{ random_data.Text }}</p>
                            </div>
                        </div>
                    {% else %}
                    <div class="descr__section flex">
                        <div class="descr__text">
                            <p>"{{ random_data.Comment_Text }}"</p>
                        </div>
                    </div>
                    <div class="descr__about">
                        <div class="about__header"><b>Комментарий был написан под следующим постом</b></div>
                        <div class="about__text">
                            {% if random_data.Header %}
                                <p>{{ random_data.Header }}</p>
                            {% endif %}
                            <p>{{ random_data.Text }}</p>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="arrow__form"></div>
                <form method="post" class="form">
                    {% csrf_token %}
                    {{ form.id }}
                    {{ form.type_text }}
                    <div class="garbage">
                        Является ли пост МУСОРОМ? {{ form.Garbage }}
                    </div>
                    <div class="category">
                        <div class="category__header">К каким категориям вы бы отнесли данный текст?</div>
                        <div class="category__list">
                            <ul>
                                {{ form.selected_field }}
                            </ul>
                        </div>
                    </div>
                    <div class="tonaliti">
                        <div class="tonaliti__header">Какой эмоциональной окраской обладает текст?</div>
                        {{ form.selected_emotion.errors }}
                        <div class="tonaliti__list">
                            <ul>
                                {{ form.selected_emotion }}
                            </ul>
                        </div>
                    </div>
                    <input type="submit" value="SUBMIT" class="btn">
                </form>
            </div>
            <div class="markup__progress">
            </div>
        </div>
    </div>
</main>
<script src="{% static 'labeling/js/script.js' %}"></script>
{% endblock body %}