{% extends "labeling/base.html" %}
{% block head%}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'labeling/css/login.css' %}">
{% endblock head %}
{% block title %}
    NArFU TOLOKA - Registration
{% endblock title %}
{% block body %}
<div class="logo">
    <div class="center">
        <div class="title">NArFU TOLOKA</div>
        <div class="descr">Разметка данных для студентов</div>
        <!-- <div class="link">
            <a href="#">Read More</a>
        </div> -->
    </div>
</div>
<div class="login">
    <div class="container">
        <div class="login__title">
            Присоединяйся, что бы начать!
        </div>
        <form method="POST" class="login__form">
            {% csrf_token %}
            <div class="login__input">
                {{ form.username }}
                {{ form.username.errors }}
            </div>
            <div class="login__input">
                {{ form.first_name }}
            </div>
            <div class="login__input">
                {{ form.last_name }}
            </div>
            <div class="login__input">
                {{ form.email }}
                {{ form.email.errors }}
            </div>
            <div class="login__input">
                {{ form.group_number }}
            </div>
            <div class="login__input">
                {{ form.password1 }}
            </div>
            <div class="login__input">
                {{ form.password2 }}
                {{ form.password2.errors }}
            </div>
            <button type="submit" class="login_btn">Register</button>
        </form>
        <span>Есть аккаунта? <a href="{% url 'labeling:login' %}" class="reg">Войти</a></span>
    </div>
</div>
<script src="{% static 'labeling/js/reg.js' %}"></script>

{% endblock body %}