{% extends "labeling/base.html" %}
{% block head%}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'labeling/css/login.css' %}">
{% endblock head %}
{% block title %}
    NArFU TOLOKA - Registration
{% endblock title %}
{% block body %}
<div class="logo">
    <div class="center">
        <div class="title">NArFU TOLOKA</div>
        <div class="descr">Разметка данных для студентов</div>
        <div class="link">
            <a href="#">Read More</a>
        </div>
    </div>
</div>
<div class="login">
    <div class="container">
        <div class="login__title">
            Присоединяйся, что бы начать!
        </div>
        <form method="POST" class="login__form">
            {% csrf_token %}
            {{ form.errors }}
            <div class="login__input">
                {{ form.username }}
            </div>
            <div class="login__input">
                {{ form.first_name }}
            </div>
            <div class="login__input">
                {{ form.last_name }}
            </div>
            <div class="login__input">
                {{ form.email }}
            </div>
            <div class="login__input">
                {{ form.group_number }}
            </div>
            <div class="login__input">
                {{ form.password1 }}
            </div>
            <div class="login__input">
                {{ form.password2 }}
            </div>
            <!-- <div class="login__input">
                <input type="number" placeholder="Номер группы" name="group_number">
            </div>
            <div class="login__input">
                <input type="text" placeholder="Корпоративная почта" name="user_email">
            </div>
            <div class="login__input">
                <input type="password" placeholder="Придумайте пароль" name="password1">
            </div>
            <div class="login__input">
                <input type="password" placeholder="Повторите пароль" name="password2">
            </div> -->
            <button type="submit" class="login_btn">Register</button>
        </form>
        <span>Есть аккаунта? <a href="{% url 'labeling:login' %}" class="reg">Войти</a></span>
    </div>
</div>


{% endblock body %}