@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
img {
    background: transparent;
}


a {
    text-decoration: none;
    color: inherit;
}
p {
    margin: 0;
}
.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}
.flex {
    display: flex;
}


.header {
    text-align: center;
    font-size: 40px;
    padding: 10px;
}
.descr {
    margin-bottom: 15px;
}
.descr__section {
    justify-content: center;
    border: 2px black solid;
    border-radius: 20px;
    padding: 10px 10px;
    margin-bottom: 10px;

}
.descr__text{
    max-width: 500px;
    margin-right: 10px;
    font-size: 24px;
    
}
.descr__description{
    align-items: center;
}
.descr__item {
    font-size: 18px;
}
.form {
    font-size: 20px;
    
}
.btn {
    margin: 0 auto;
    background-color: #000; /* Задний фон в черном цвете */
    color: #fff; /* Цвет текста в белом цвете */
    border: 1px solid #000; /* Граничная линия черного цвета */
    padding: 10px 20px; /* Отступы вокруг текста */
    border-radius: 5px; /* Скругление углов */
    text-align: center; /* Выравнивание текста по центру */
    text-decoration: none; /* Убрать подчеркивание текста */
    display: block; /* Сделать кнопку блочным элементом */
    cursor: pointer; /* Изменение курсора при наведении */
    font-weight: bold; /* Жирный шрифт */
    font-size: 16px; /* Размер шрифта */
    text-transform: uppercase; /* Преобразование текста в верхний регистр */
  }
  
  .btn:hover {
    background-color: #fff; /* Задний фон при наведении мыши становится белым */
    color: #000; /* Цвет текста при наведении мыши становится черным */
  }
  .btn:focus {
    outline: 4px solid rgb(255, 239, 15); /* Установите желаемый стиль для выделения фокуса */
  }
  
  .descr__about {
    justify-content: center;
    border: 2px black solid;
    border-radius: 20px;
    padding: 10px 10px;
    font-size: 18px;
  }
/* ==================SIDEBAR==================== */
.flex {
    display: flex;
}
.sidebar {
    color: #ffffff;
    background: linear-gradient(to top, #021B79, #0575E6);
    display: flex;
    height: 100vh; /* 100% высоты видимой области браузера */
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.sidebar__container {
    padding: 40px 20px;
    flex-direction: column;
}
.sidebar__main {
    flex: 1; /* Занимает все доступное пространство */
}
.sidebar__list {
    align-items: center;
    margin-bottom: 40px;
}
.sidebar__icon {
    fill: #ffffff;
    margin-right: 10px;
}
.sidebar__name {
    font-weight: 700;
}
.sidebar__footer{
    align-items: end;
    text-align: center;
}
.sidebar__footer .title {
    font-weight: 700;
    font-size:24px;
}
.sidebar__footer .descr {
    font-weight: 500;
    font-size:15px;
}
.arrow {
    width: 100%;
    background-color: #ffffff;
    height: 3px;
    border-radius: 3px;
    margin: 60px 0;
}